.container {
    width: 50%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.changePageButton {
    color: var(--orange);
    cursor: pointer;
}

.changePageButton:disabled {
    color: var(--dark);
    cursor: default;
}