.container {
    width: 30vw;
    height: fit-content;
    padding: var(--offLg);
    margin: var(--offLg);
    border: solid 1px var(--light);
}

.buttonContainer {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}
