.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: calc(100vw - var(--offLg)*2);
    margin: var(--offLg);
}

@media only screen and (min-width: 1024px) {
    .container {
        width: 75vw;
    }
}

.list {
    width: 100%;
}

.listElement {
    margin: var(--offMd) 0;
}