.container {
    width: calc(100vw - var(--offLg)*2);
    box-sizing: border-box;
    height: fit-content;
    padding: var(--offLg);
    margin: var(--offLg);
    border: solid 1px var(--light);
}

@media only screen and (min-width: 1024px) {
    .container {
        width: 25vw;
    }
}

.container > *:not(:first-child) {
    margin-top: var(--offMd);
}

.buttonContainer {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.selectContainer {
    position: relative;
    display: flex;
    flex-direction: column;
}

.selectInput {
    border: solid 1px var(--light);
    padding: var(--offSm);
    margin-top: var(--offSm);
    cursor: pointer;
}