.container {
    display: flex;
    border: solid 1px var(--light);
    padding: var(--offMd);
    align-items: center;
}

.infoBlock {
    width:100%;
    margin-left: var(--offMd)
}

.picturePlaceholder {
    height: 80px;
    width: 110px;
    background-color: var(--light);
}

.titlePlaceholder {
    height: 30px;
    width: 40%;
    background-color: var(--light);
    margin: var(--offSm) 0;
}

.infoPlaceholder {
    height: 15px;
    width: 40%;
    background-color: var(--light);
    margin: var(--offSm) 0;
}

.linkPlaceholder {
    height: 15px;
    width: 15%;
    background-color: var(--light);
    margin: var(--offSm) 0;
}