.header {
    height: 80px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    box-sizing: border-box;
    align-items: center;
    padding: var(--offLg);
    border-bottom: solid 1px var(--light);
}
