.container {
    display: flex;
    flex-direction: row;
    border: solid 1px var(--light);
    padding: var(--offMd);
    align-items: center;
}

.infoBlock {
    margin-left: var(--offMd)
}

.headerTitle {
    margin: 0;
}