.container {
    position: relative;
}

.input {
    border: solid 1px var(--light);
    padding: var(--offSm);
    margin-top: var(--offSm);
}

.list {
    position: absolute;
    top: 60px;
    background-color: white;
    z-index: 1;
    width: 100%;
}

.listElement {
    border: solid 1px var(--light);
    transition: background-color 0.2s ease-in;
}

.listElementSelected {
    background-color: rgba(234, 127, 40, 1);
    color: white;
}
  
.listElementNotSelected:hover {
    background-color: rgba(234, 127, 40, 0.75);
}
  
.listElementNotSelected:focus {
    background-color: rgba(234, 127, 40, 0.75);
}

.button {
    padding: var(--offSm);
    width: 100%
}